/*  */
/* Global Colors */
:root {
  --primary-color: #00458b;
  --secondary-color: #99ddff;
  --third-color: #3fd2c7;
  --dark-color: #525252;
  --light-color: #e2e2e2;
  --danger-color: #e7505f;
  --success-color: #459458;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: white;
  color: var(--dark-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--third-color);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

i {
  margin-right: 10px;
}

/*  */
/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

/* Navbar */
.navbar {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  opacity: 1;
  margin-bottom: 1rem;
}

.app-logo {
  height: 70px;
  width: auto;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: -13px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Containers */
.big-container {
  width: 100%;
  margin: auto;
  padding-top: 40px;
  overflow: hidden;
}

#about-container {
  margin-top: 20px;
  margin-left: 15px;
}

.users-container {
  display: "grid";
  grid-template-columns: "repeat(3, 1fr)";
  grid-gap: "1rem";
}

/*  */
/* Alignment */
.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/*  */
/* Center All */
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*  */
/* ELEMENTS */
.btn {
  font-size: 0.7rem;
  display: inline-block;
  background: var(--light-color);
  color: var(--dark-color);
  padding: 0.2rem 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  /* transition: opacity 0.2s ease-in; */
  /* outline: none; */
}

.btn:hover {
  opacity: 0.8;
  color: white;
  background-color: var(--third-color);
}

.badge {
  font-family: "Raleway", sans-serif;
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}

.alert {
  padding: 0.7rem;
  margin: 40px 0 20px 0;
  opacity: 0.9;
  background-color: var(--light-color);
  color: white;
}

#alert-red {
  background-color: var(--danger-color);
  color: var(--light-color);
}

.round-img {
  border-radius: 50%;
}

/*  */
/* BACKGROUNDS */
.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-secondary,
.bg-secondary,
.badge-secondary,
.alert-secondary {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.btn-third,
.bg-third,
.badge-third,
.alert-third {
  background: var(--third-color);
  color: white;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.home-header {
  text-align: center;
  margin: 3rem 1.2rem 2rem;
}

/*  */
/* FORMS */
form {
  margin: 2rem 1.2rem 2rem;
}

form input {
  text-align: center;
}
input {
  margin-top: 1rem;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type="submit"],
button {
  font: inherit;
}

.contributors-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

/*  */
/* MOBILE STYLES */
@media (max-width: 700px) {
  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .home-header {
    text-align: center;
  }
  form {
    margin: 2rem 0 1.2rem 0;
  }
}

#about-container {
  margin-top: 80px;
}

.userpage-container {
  margin: 70px 15px 70px 15px;
}

.users-container {
  margin: 70px 15px 70px 15px;
}

#users-inside {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

@media screen and (min-width: 1350px) {
  #users-inside {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
  }
}

@media only screen and (max-width: 1350px) and (min-width: 1000px) {
  #users-inside {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .user-right-col ul li {
    text-align: center;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }
  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
    margin-bottom: 3rem;
  }
  .userpage-container {
    margin: 90px 15px 60px 15px;
  }

  .users-container {
    margin: 90px 15px 60px 15px;
  }

  #users-inside {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 500px) {
  #users-inside {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}
